apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minecraft-server
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/lucascardosobarbeiro/git-ops-exe.git
    targetRevision: main
    path: minecraft-server # <--- IMPORTANTE: Aponta para a pasta interna
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
